NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_APP_URL=https://www.rute.co.za
CONTENTFUL_SPACE_ID=your_space_id
CONTENTFUL_ACCESS_TOKEN=your_access_token
CONTENTFUL_ENVIRONMENT=master
# AWS SES Configuration
AWS_SES_REGION=your_aws_ses_region
AWS_SES_SMTP_HOST=your_aws_ses_smtp_host
AWS_SES_SMTP_PORT=your_aws_ses_smtp_port
AWS_SES_SMTP_USERNAME=your_aws_ses_smtp_username
AWS_SES_SMTP_PASSWORD=your_aws_ses_smtp_password
AWS_SES_FROM_EMAIL=your_aws_ses_from_email
AWS_SES_FROM_NAME=your_aws_ses_from_name
EMAIL_AUTH_ALERTS_ENABLED=true

PAYFAST_MARCHANT_ID=your_payfast_merchant_id
PAYFAST_MARCHANT_KEY=your_payfast_merchant_key
PAYFAST_PASSPHRASE=your_payfast_passphrase

PAYFAST_DEBUG_SIGNATURE=false
PAYFAST_SIGNATURE_MODE=with-passphrase
PAYFAST_SIGNATURE_ORDER=insertion

PAYFAST_NOTIFY_URL=https://your-public-domain/api/payments/payfast/webhook
PAYFAST_SKIP_SIGNATURE_VALIDATION=false