NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_APP_URL=http://localhost:3000
CONTENTFUL_SPACE_ID=your_space_id
CONTENTFUL_ACCESS_TOKEN=your_access_token
CONTENTFUL_ENVIRONMENT=master
# AWS SES Configuration
AWS_SES_REGION=your_aws_ses_region
AWS_SES_SMTP_HOST=your_aws_ses_smtp_host
AWS_SES_SMTP_PORT=your_aws_ses_smtp_port
AWS_SES_SMTP_USERNAME=your_aws_ses_smtp_username
AWS_SES_SMTP_PASSWORD=your_aws_ses_smtp_password
AWS_SES_FROM_EMAIL=your_aws_ses_from_email
AWS_SES_FROM_NAME=your_aws_ses_from_name