NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_APP_URL=https://www.rute.co.za
CONTENTFUL_SPACE_ID=your_space_id
CONTENTFUL_ACCESS_TOKEN=your_access_token
CONTENTFUL_ENVIRONMENT=master

EMAIL_AUTH_ALERTS_ENABLED=true

PAYFAST_MARCHANT_ID=your_payfast_merchant_id
PAYFAST_MARCHANT_KEY=your_payfast_merchant_key
PAYFAST_PASSPHRASE=your_payfast_passphrase

PAYFAST_DEBUG_SIGNATURE=false
PAYFAST_SIGNATURE_MODE=with-passphrase
PAYFAST_SIGNATURE_ORDER=alphabetical

PAYFAST_NOTIFY_URL=https://your-public-domain/api/payments/payfast/webhook
PAYFAST_SKIP_SIGNATURE_VALIDATION=false

NEXT_PUBLIC_GA_ID=''

ADMIN_FROM='admin@rute.co.za'
DEFAULT_FROM='no-reply@rute.co.za'
RESEND_API_KEY=your_resend_api_key_here